body {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffbe8;
}

canvas {
  border: 3px solid #888;
  background-color: #ffffff;
}

.info {
  margin-top: 10px;
  font-size: 18px;
}